<mat-card class="comentario-card">
  <div class="comentario-header">
    <div class="user-info">
      <mat-icon class="user-icon">account_circle</mat-icon>
      <span class="username">{{ comentario.usuarios_idusuario.usuario }}</span>
      <div class="user-details">
        
        <span class="date">{{ comentario.fecha | date: 'medium' }}</span>
      </div>
    </div>
  </div>

  <div class="comentario-content">
    <p class="comentario-text">{{ comentario.contenido }}</p>
  </div>
</mat-card>