<!-- Layout principal -->
<div class="main-layout">
  <!-- Sección de publicidad y episodio -->
  <div class="ad-episode-container" *ngIf="usuario.rol=='Oyente'">
    <div class="ad-container">
      <h1>{{publi1.nombrePublicidad}}</h1>
      <img class="ad-image" src="{{publi1.imagen}}" alt="Publicidad">
    </div>
    
    <div class="episode-container" *ngIf="episodio">
      <h1>Episodio del día</h1>
      <app-card-episodios [episodio]="episodio"></app-card-episodios>
    </div>
    
    <div class="ad-container">
      <h1>{{publi2.nombrePublicidad}}</h1>
      <img class="ad-image" src="{{publi2.imagen}}" alt="Publicidad">
    </div>
  </div>
<div *ngIf="usuario.rol=='Oyente'">
  <div class="notificaciones" *ngIf="notis==false">
    <div class="notificaciones-contenido">
      <span class="cerrar" (click)="cerrarModal()">&times;</span>
      <h2>Lo que te perdiste</h2>
      <div *ngFor="let notificacion of notificaciones" class="card-comentario">
        
            <h2>Titulo: {{ notificacion.titulo }}</h2><br> 
            <h2>Creador: {{notificacion.podcast_idpodcast.creadores_idcreador.nombre}}</h2>   
            <h3></h3>  
      </div>
    </div>
  </div>
</div>

  <!-- Panel de Oyente -->
  <div class="dashboard" *ngIf="usuario.rol === 'Oyente'">
    <div class="menu">
      <button class="menu-button" routerLink="/para-ti">Para Ti</button>
      <button class="menu-button" routerLink="/buscar">Buscar</button>
      <button class="menu-button" (click)="enviarSiguiendo()">Siguiendo</button>
      <button class="menu-button" (click)="enviarPerfil()">Perfil</button>
    </div>
  </div>

  <!-- Panel de Creador -->
  <div class="creator-dashboard" *ngIf="usuario.rol==='Creador'">
    <h1 style="margin-left: 77vh;">DashBoard informativo</h1>
    <br><br>
    <div class="stats-container">
      <div class="stat-card">
        <h3>Total de vistas</h3>
        <p class="stat-value">{{vistasTotales}}</p>
      </div>
      
      <div class="stat-card">
        <h3>Episodio más visto</h3>
        <p class="stat-title">{{episodioVisto.titulo}}</p>
        <p class="stat-subvalue">Vistas: {{episodioVisto.visualizaciones}}</p>
      </div>
      
      <div class="stat-card">
        <h3>Seguidores</h3>
        <p class="stat-value">{{seguidores}}</p>
      </div>
    </div>

    <div class="menu">
      <button class="menu-button" routerLink="/buscar">Buscar</button>
      <button class="menu-button" routerLink="/subir-podcast">Crear Podcast</button>
      <button class="menu-button" (click)="subirEpisodio()">Subir Episodio</button>
      <button class="menu-button" (click)="enviarPerfil()">Perfil</button>
    </div>
  </div>

  <!-- Panel de Administrador -->
  <div class="dashboard" *ngIf="usuario.rol === 'Administrador'">
    <div class="menu">
      <button class="menu-button" routerLink="/gestion-usuarios">Gestionar Usuarios</button>
      <button class="menu-button" routerLink="/gestion-creadores">Gestionar Creadores</button>
      <button class="menu-button" routerLink="/gestion-podcasts">Gestionar Podcasts</button>
      <button class="menu-button" (click)="enviarPerfil()">Perfil</button>
    </div>
  </div>
</div>