<!-- Layout principal -->
<div class="main-layout">
  <!-- Sección de publicidad y episodio -->
  <div class="ad-episode-container">
    <div class="ad-container">
      <img class="ad-image" src="{{publi1.imagen}}" alt="Publicidad">
    </div>
    
    <div class="episode-container" *ngIf="episodio">
      <app-card-episodios [episodio]="episodio"></app-card-episodios>
    </div>
    
    <div class="ad-container">
      <img class="ad-image" src="{{publi2.imagen}}" alt="Publicidad">
    </div>
  </div>

  <!-- Panel de Oyente -->
  <div class="dashboard" *ngIf="usuario.rol === 'Oyente'">
    <div class="menu">
      <button class="menu-button" routerLink="/para-ti">Para Ti</button>
      <button class="menu-button" routerLink="/buscar">Buscar</button>
      <button class="menu-button" (click)="enviarSiguiendo()">Siguiendo</button>
      <button class="menu-button" (click)="enviarPerfil()">Perfil</button>
    </div>
  </div>

  <!-- Panel de Creador -->
  <div class="creator-dashboard" *ngIf="usuario.rol==='Creador'">
    <div class="stats-container">
      <div class="stat-card">
        <h3>Total de vistas</h3>
        <p class="stat-value">{{vistasTotales}}</p>
      </div>
      
      <div class="stat-card">
        <h3>Episodio más visto</h3>
        <p class="stat-title">{{episodioVisto.titulo}}</p>
        <p class="stat-subvalue">Vistas: {{episodioVisto.visualizaciones}}</p>
      </div>
      
      <div class="stat-card">
        <h3>Seguidores</h3>
        <p class="stat-value">{{seguidores}}</p>
      </div>
    </div>

    <div class="menu">
      <button class="menu-button" routerLink="/buscar">Buscar</button>
      <button class="menu-button" routerLink="/crear-podcast">Crear Podcast</button>
      <button class="menu-button" (click)="subirEpisodio()">Subir Episodio</button>
      <button class="menu-button" (click)="enviarPerfil()">Perfil</button>
    </div>
  </div>

  <!-- Panel de Administrador -->
  <div class="dashboard" *ngIf="usuario.rol === 'Administrador'">
    <div class="menu">
      <button class="menu-button" routerLink="/gestion-usuarios">Gestionar Usuarios</button>
      <button class="menu-button" routerLink="/admin/podcasts">Revisar Podcasts</button>
      <button class="menu-button" routerLink="/admin/reportes">Ver Reportes</button>
      <button class="menu-button" (click)="enviarPerfil()">Perfil</button>
    </div>
  </div>
</div>