<div class="container">
 <h1 class="titulo">Gestión de Usuarios</h1>
  <div class="loader" *ngIf="cargando"></div>
  <!-- Mostrar error si existe -->
  <div *ngIf="errorRespuesta" class="error">
    {{ errorRespuesta }}
  </div>

  <!-- Mostrar lista de usuarios si hay elementos -->
  <ng-container *ngIf="usuarios.length > 0; else sinUsuarios">
    <div *ngFor="let usuario of usuarios" class="tarjeta-usuario">
      <img [src]="usuario.fotoperfil" alt="Foto de perfil" class="foto-usuario" />

      <div class="info-usuario">
        <h2>{{ usuario.usuario }}</h2>
        <p><strong>Rol:</strong> {{ usuario.rol }}</p>
        <p><strong>Correo:</strong> {{ usuario.correo }}</p>
        <p><strong>Ingresó:</strong> {{ usuario.fecha_ingreso }}</p>
      </div>

      <div class="botones-usuario">
        <button class="btn editar" (click)="editar(usuario)">Editar</button>
        <button class="btn eliminar" (click)="eliminarUsuario(usuario)">Eliminar</button>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal" *ngIf="mostrarModal">
      <div class="modal-contenido">
        <span class="cerrar" (click)="cerrarModal()">&times;</span>
        <h2>Actualizar Usuario</h2>

        <label>Usuario</label>
        <input type="text" class="entrada" [(ngModel)]="usuarioEditar" />

        <label>Teléfono</label>
        <input type="text" class="entrada" [(ngModel)]="telefonoEditar" />

        <img [src]="imagen" alt="Previsualización" class="imagen-preview" />

        <input type="file" (change)="onFileSelected($event)" class="entrada2" />

        <button class="btn actualizar" (click)="actualizarUsuario()">Actualizar Usuario</button>
      </div>
    </div>
  </ng-container>

  <!-- Plantilla alternativa si no hay usuarios -->
  <ng-template #sinUsuarios>
    <p class="mensaje-vacio">No hay usuarios registrados.</p>
  </ng-template>
</div>