
<div class="following-page-wrapper">

    <h1> SIGUIENDO</h1>

    <div class="search-bar-container">
      <input type="text" placeholder="Buscar...">
      <button class="search-button"><i class="fas fa-search"></i>🔍</button>
    </div>

    <div class="following-content">
      <div class="sidebar">
        <h3>Opciones</h3>
        <div class="sidebar-options-group">
          <div class="sidebar-option">
            <input type="radio" id="filter-creador" name="filter-option" value="creador">
            <label for="filter-creador">Creador</label>
          </div>
          <div class="sidebar-option">
            <input type="radio" id="filter-tematica" name="filter-option" value="tematica">
            <label for="filter-tematica">Temática</label>
          </div>
        </div>
      </div>

    <div class="creators-list">
        <div class="creator-item" *ngFor="let creador of creadores">
          <div class="creator-image-container">
            <img [src]="creador.fotoperfil" alt="{{ creador.nombre }} profile picture" class="profile-image">
          </div>

          <div class="creator-details">
            <h4 class="creator-username">{{ creador.nombre }}</h4>
          
            <button (click)="abrirCreador(creador)">Buscar</button>
          </div>
      </div>
    </div>

  </div>

  