<div class="podcast-header">
  <button class="volver" (click)="volverAMenuPrincipal()">Volver</button>
    <img src="{{creador.fotoperfil}}" alt="foto perfil" class="profile-image">
    <button (click)="mostrarModal()" class="donar">Donar</button>
    <div class="general">
        <button  (click)="accionBotonSeguido()" class="seguir">{{seguidos}}</button>
        <h3 class="podcast-title">{{creador.nombre }}</h3>
        <span class="podcast-category">{{ creador.correo }}</span>
      
        <p class="podcast-description">
        {{ creador.biografia  }}

      </p>
      
    </div>
    
    
  </div>

  <div class="podcast-content">
    
    <app-podcast-list [podcasts]="podcasts"></app-podcast-list>
    
  </div>



  <div class="modal" *ngIf="modal">
  <div class="modal-contenido">
    <span class="cerrar" (click)="modal = false">&times;</span>
    <h2>Donación</h2>
    <img src="{{creador.imgdonaciones}}" alt="qr donacion" height="300px" width="180px">
    <input type="text" placeholder="Monto" class="entrada" [(ngModel)]="monto">
    <button (click)="donar()" class="donar">
        Donar
    </button>

  </div>
</div>