<div class="podcast-header">
    <img src="{{creador.fotoperfil}}" alt="foto perfil" class="profile-image">
    <button (click)="mostrarModal()">Donar</button>
    <div class="general">
        <button  style="width: 10vh;height: 5vh;" (click)="accionBotonSeguido()">{{seguidos}}</button>
      <h3 class="podcast-title">{{creador.nombre }}</h3>
      <span class="podcast-category">{{ creador.correo }}</span>
     
      <p class="podcast-description">
      {{ creador.biografia  }}

    </p>
      
    </div>
    
    
  </div>

  <div class="podcast-content">
    
    <app-podcast-list [podcasts]="podcasts"></app-podcast-list>
    
  </div>



  <div class="modal" *ngIf="modal">
  <div class="modal-contenido">
    <span class="cerrar" (click)="modal = false">&times;</span>
    <h2>Donación</h2>
    <img src="{{creador.imgdonaciones}}" alt="">
    <input type="text" placeholder="Monto" class="entrada" [(ngModel)]="monto">
    <button (click)="donar()" >
        Donar
    </button>

  </div>
</div>