<h1>Gestion de episodios de: {{tituloPodcast}}</h1>

<!-- Mostrar error si existe -->
<div *ngIf="errorRespuesta" class="error">
  {{ errorRespuesta }}
</div>

<!-- Mostrar lista de usuarios si hay elementos -->
<ng-container *ngIf="episodios.length > 0; else sinEpisodios">
    <div *ngFor="let episodio of episodios">
        <div style="background-color: aqua; display: flex; justify-content: space-between; align-items: center; padding: 10px;height: 25vh;">
        <!-- Sección de texto -->
            <div>
                <h1>{{episodio.titulo}}</h1>
                <h2>{{episodio.descripcion}}</h2>
                <h2>{{episodio.podcast_idpodcast.titulo}}</h2>
                <h3>{{episodio.fechapublicacion}}</h3>
                <h3>{{episodio.participantes}}</h3>
                <h3>{{episodio.podcast_idpodcast.creadores_idcreador.nombre}}</h3>
            </div>

        <!-- Sección de botones -->
            <div>
                <button style="margin-right: 2vh;background-color: greenyellow;" (click)="gestionComentarios(episodio)">Gestionar comentarios</button>
                <button style="background-color: cadetblue; margin-right: 5px;"(click)="editar(episodio)"  >Editar</button>
                <button style="background-color: red;" (click)="eliminarEpisodio(episodio)">Eliminar</button>
            </div>
        </div>

        <br>
            <!-- Puedes mostrar más datos si quieres -->
             
        

    </div>
    <div class="modal" *ngIf="mostrarModal">
        <div class="modal-contenido">
            <span class="cerrar" (click)="cerrarModal()">&times;</span>
            <h2>Actualizar</h2>
            <h3>Titulo</h3>
            <input type="text"  class="entrada" [(ngModel)]="tituloEditar">
            
            <h3>Descricion</h3>
            <textarea [(ngModel)]="descripcionEditar" style="width: 40vh;height:10vh;"></textarea><br>
            <h3>Participantes</h3>
            <textarea [(ngModel)]="participantesEditar" style="width: 40vh;height:10vh;"></textarea><br>
            
            <button (click)="actualizarEpisodio()">
                Actualizar episodio
            </button>

        </div>
    </div>
    <div class="modal2" *ngIf="modalComentarios">
        <div class="modal2-contenido">
            <span class="cerrar" (click)="cerrarModalComentario()">&times;</span>
            <div *ngFor="let comentario of comentarios">
                <div style="width: 50vh;background-color: aqua;display: flex; justify-content: space-between; align-items: center;width: 100%;height: 10vh;">
                    <h2>Usuario: {{comentario.usuarios_idusuario.usuario}}</h2>
                    <h3>Comentario: {{comentario.contenido}}</h3>
                    <h3>Fecha: {{comentario.fecha}}</h3>
                    <button (click)="eliminarComentario(comentario)">
                        Eliminar comentario
                    </button>
                    
                </div>
                <br>
            </div>

        </div>
    </div>
</ng-container>

<!-- Plantilla alternativa si no hay usuarios -->
<ng-template #sinEpisodios>
  <p>No hay usuarios registrados.</p>
</ng-template>
