<mat-card class="podcast-card">
  <div class="podcast-header">
    <img src="{{creador.fotoperfil}}" alt="foto perfil" class="profile-image">
    <div class="general">
      <h3 class="podcast-title">{{creador.nombre }}</h3>
      <span class="podcast-category"><mat-icon>email</mat-icon>{{ creador.correo }}</span>
      
      
    </div>
    
    
  </div>

  <div class="podcast-content">
    <p class="podcast-description">
      {{ creador.biografia  }}
    </p>
    
    <div class="podcast-footer">
      <button (click)="abrirCreador(creador)" mat-raised-button >
        <mat-icon>visibility</mat-icon>
        Ver Cuenta
      </button>
    </div>
  </div>
</mat-card>