<h1>Gestion de Creadores</h1>

<!-- Mostrar error si existe -->
<div *ngIf="errorRespuesta" class="error">
  {{ errorRespuesta }}
</div>

<!-- Mostrar lista de usuarios si hay elementos -->
<ng-container *ngIf="creadores.length > 0; else sinCreadores">
    <div *ngFor="let creador of creadores">
        <div style="background-color: aqua; display: flex; justify-content: space-between; align-items: center; padding: 10px;height: 20vh;">
        <!-- Sección de texto -->
         <img [src]="creador.fotoperfil" alt="fotoperfil" style="width:20vh;height: 80%;">
            <div>
                <h1>{{creador.usuario}}</h1>
                <h2>{{creador.nombre}}</h2>
                <h3>{{creador.correo}}</h3>
                <h3>{{creador.fechaingreso}}</h3>
            </div>

        <!-- Sección de botones -->
            <div>
                <button style="background-color: cadetblue; margin-right: 5px;"(click)="editar(creador)" >Editar</button>
                <button style="background-color: red;" (click)="eliminarCreador(creador)">Eliminar</button>
            </div>
        </div>

        <br>
            <!-- Puedes mostrar más datos si quieres -->
             
        

    </div>
    <div class="modal" *ngIf="mostrarModal">
        <div class="modal-contenido">
            <span class="cerrar" (click)="cerrarModal()">&times;</span>
            <h2>Actualizar</h2>
            <h3>Usuario</h3>
            <input type="text"  class="entrada" [(ngModel)]="usuarioEditar">
            <h3>Nombre</h3>
            <input type="text"  class="entrada" [(ngModel)]="nombreEditar">
            <h3>Biografia</h3>
            <textarea [(ngModel)]="biografiaEditar"></textarea>
            <h3>Telefono</h3>
            <input type="text"  class="entrada" [(ngModel)]="telefonoEditar">
            <img [src]="imagen" alt=""style="width: 100px;height:100px"><br>
            <form  enctype="multipart/form-data">
                <input type="file" (change)="onFileSelected($event)" />
            </form>
            <img [src]="donaciones" alt=""style="width: 100px;height:100px"><br>
            <form  enctype="multipart/form-data">
                <input type="file" (change)="onFileSelected2($event)" />
            </form>
            <button (click)="actualizarCreador()">
                Actualizar usuario
            </button>

        </div>
        </div>
</ng-container>

<!-- Plantilla alternativa si no hay usuarios -->
<ng-template #sinCreadores>
  <p>No hay usuarios registrados.</p>
</ng-template>
