<mat-card class="podcast-card">
  <div class="podcast-header">
    <div class="general">
      <h3 class="podcast-title">{{ podcast.titulo }}</h3>
      <span class="podcast-category"><mat-icon>local_offer</mat-icon>{{ podcast.categoria }}</span>
    </div>
    <div class="extra">
      <mat-chip class="premium-chip" *ngIf="podcast.premium">
        Premium
      </mat-chip>
    </div>
    
  </div>

  <div class="podcast-content">
    <p class="podcast-description">
      
      {{ podcast.descripcion  }}
    </p>
    
    <div class="podcast-footer">
      <button (click)="abrirPodcast(podcast)"mat-raised-button>
        <mat-icon>play_circle</mat-icon>
        Ver Episodios
      </button>
    </div>
  </div>
</mat-card>