<mat-card class="podcast-card">
  <div class="podcast-header">
    <div class="general">
      <h3 class="podcast-title">{{ podcast.titulo }}</h3>
      <span class="podcast-category">{{ podcast.categoria }}</span>
    </div>
    <div class="extra">
      <mat-chip class="premium-chip" *ngIf="podcast.premium">
        Premium
      </mat-chip>
    </div>
    
  </div>

  <div class="podcast-content">
    <p class="podcast-description">
      {{ podcast.descripcion | truncate:300 }}
    </p>
    
    <div class="podcast-footer">
      <button mat-raised-button>
        Escuchar
      </button>
    </div>
  </div>
</mat-card>