:root {
    --verde-fuerte: #002e04;
    --verde: #10810c;
    --verde-claro: #1ec20f;
    --dorado-fuerte:#9b8d10;
    --dorado:#ecd719;
    --dorado-claro:#e9e16d;
    --blanco:#ffffff;
  }/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
