<div *ngIf="datosper.rol == 'Creador'; else noDatos" class="profile-container">
  <div class="profile-card creator-view">
    <div class="profile-header">
      <h2>Datos recibidos:</h2>
      <button class="cierre" (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
    
    <div class="profile-content">
      <div class="profile-image-container">
        <img src="{{datosper.fotoPerfil}}" alt="Foto de perfil" class="profile-image">
        <button class="update-photo-button">Actualizar foto de perfil</button>
        <img src="{{datosper.donaciones}}" alt="Donación" class="donation-image" *ngIf="datosper.donaciones">
      </div>

      <div class="profile-details">
        <p><strong>ID:</strong> {{datosper.id}}</p>
        <p><strong>Usuario:</strong> {{ datosper.usuario }}</p>
        <p><strong>Nombre:</strong> {{datosper.nombre}}</p>
        <p><strong>Correo:</strong> {{datosper.correo}}</p>
        <p><strong>Rol:</strong> <span class="role-badge">{{datosper.rol}}</span></p>

        <div class="biography" *ngIf="datosper.biografia">
          <h3>Biografía</h3>
          <p>{{datosper.biografia}}</p>
        </div>
      </div>
    </div>
    
    <app-podcast-list [podcasts]="podcasts"></app-podcast-list>
  </div>
</div>

<ng-template #noDatos>
  <div class="profile-container listener-view">
    <div class="profile-card">
      <h2>Perfil de Usuario</h2>
      <div class="profile-image-container">
        <img src="{{datosper.fotoperfil}}" alt="Foto de perfil" class="profile-image">
       
      </div>
      
      <div class="attributes-container">
        <div class="attribute-item">
          <span class="attribute-label">Usuario:</span>
          <span class="attribute-value">{{ datosper.usuario }}</span>
        </div>
        <div class="attribute-item">
          <span class="attribute-label">Correo:</span>
          <span class="attribute-value">{{ datosper.correo }}</span>
        </div>
        <div class="attribute-item">
          <span class="attribute-label">Rol:</span>
          <span class="attribute-value role-badge">{{ datosper.rol }}</span>
        </div>
        <div class="attribute-item">
          <span class="attribute-label">Fecha de registro:</span>
          <span class="attribute-value">{{ datosper.fecha }}</span>
        </div>
      </div>
      <br>
      <div style="display: flex;">
      <button class="cierre" (click)="cerrarSesion()">Cerrar Sesión</button>
      
      <button class="cierre" (click)="subirPubli()" *ngIf="datosper.rol=='Administrador'">Subir publicidad</button>
      </div>
    </div>
  </div>
</ng-template>


